@font-face {
	font-family: vangogh;
	src: url(../fonts/GothamRndSSm-Book_Web.woff2);
	font-weight: 400;
  }

  @font-face {
	font-family: vangogh;
	src: url(../fonts/GothamRndSSm-Medium_Web.woff2);
	font-weight: 700;
  }
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding:0; 
}

button, summary {
	cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #0000;
	--color-text-image:#ffff;
	--color-background:#FFCE01;
}


/*********************/
/*     DARK MODE     */
/*********************/



@media (prefers-color-scheme:dark) {
	:root {
		--color-text: white;
		--color-background: #5f5a43;
		--imageBrightness:.75;
	}
}



/****************/
/*     BODY     */
/****************/




body{
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: vangogh, Arial, Helvetica, sans-serif;
}




/****************/
/* HEADER */
/****************/




header{
	position: relative;
	padding: 1em;
}



header img{
	width: 5em;
	height: 5em;
	border-radius: 0%;
	position: absolute;
	right: 1.5em;
	top:1.5em;
}



header button{
	padding: 1em;
	margin:1em;
	background-color: black;
	color: var(--color-text-image);
	border-radius: 1em;
}



header nav{
	background-color: var(--color-background);
	position: fixed;
	top: 0;
	bottom: 0; 
	left: 0;
	right:0;

	transform:translateX(-99%);
	z-index: 10;
}



nav.open {
	transform:translateX(0%);
}



header ul{
	padding: 1em;
}



header nav ul li a{
	color: black;
	font-size: 1.3em;
	text-decoration: none;
	display: flex;
	row-gap: 1em;
}




/*****************************/
/* POSITIONERING VAN A-TJES */
/****************************/




main a{ 
	color: var(--color-text-image);
	text-decoration: none;
	font-weight: bold;
}



section a{
	display: flex;
	row-gap: 1em;
}



footer a{
	color: black;
	text-decoration: none;
	font-weight: bold;

	display: flex;
	row-gap: 1em;
}



a:hover{
	transform: translateX(1%);
}




/************/
/* ALGEMEEN */
/************/




h1, h2, p{
    padding: 1em;
}



h3{
    padding: 1em;
    font-weight: normal;
}




section:first-of-type p:nth-of-type(2){
    font-weight: bold;
}



section:first-of-type p:nth-of-type(4){
    font-weight: bold;
}



a{
	padding: 1em;
}



section a{
	color: black;
}



ul{
    list-style-type: none;    
}



li{
	display: block;
}



section{
	color: black;
	text-align: left;
}



section button{
    width: 15em;
	height: 4em;

    padding: 1em;
    margin: 1.5em;
    
	background-color: black;
	color: var(--color-text-image);
    border-radius: .4em;
	border: none;
	position: sticky;
}

section button a{
	color: var(--color-text-image);
	font-size: 1.5em;
}


/************/
/* MAIN */
/************/



ul li a{
    padding: .8em;
}



ul li img{
    width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .8em;
	filter: brightness(var(--imageBrightness))
}



section:nth-of-type(3) img{
	width: 100%;
	height: 100%;
	object-fit: cover;
    padding: .8em;
}



iframe{
	border: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}